[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[dev-packages]

isort = "*"
pylint = "*"
yapf = "*"
pytest = "*"


[packages]

sh = "*"
"jinja2" = "*"


[requires]

python_version = "3.6"
